Checks: >
  modernize-use-nullptr,
  modernize-use-default-member-init,
  modernize-use-equals-default,
  readability-identifier-naming,
  readability-braces-around-statements


WarningsAsErrors: ''

HeaderFilterRegex: '.*'
FormatStyle: file

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-function-size.LineThreshold
    value: '80'
  # Classes, Structs, Enums
  - { key: readability-identifier-naming.ClassCase, value: CamelCase }
  - { key: readability-identifier-naming.StructCase, value: CamelCase }
  - { key: readability-identifier-naming.EnumCase, value: CamelCase }
  - { key: readability-identifier-naming.EnumConstantCase, value: CamelCase }

  # Functions and Parameters
  - { key: readability-identifier-naming.FunctionCase, value: camelBack }
  - { key: readability-identifier-naming.ParameterCase, value: camelBack }
  - { key: readability-identifier-naming.LocalVariableCase, value: camelBack }

  # Members
  - { key: readability-identifier-naming.PrivateMemberCase, value: CamelCase }
  - { key: readability-identifier-naming.PrivateMemberPrefix, value: my }

  # Optional: Static Members
  - { key: readability-identifier-naming.StaticMemberPrefix, value: s_ }
  - { key: readability-identifier-naming.StaticMemberCase, value: camelBack }

