# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug files
*.gdb

build
.vscode

src/ui/qtwidgets/gametable
src/ui/qtwidgets/resources
src/ui/qtwidgets/styles


# cppdepend analysis
CppDependOut
*.cdproj
bash.exe.stackdump
